/* Zorro animado */
#foxContainer {
  position: fixed;
  width: 120px;
  height: 70px;
  bottom: 70px;
  left: -150px; /* inicial fuera de pantalla */
  pointer-events: none;
  z-index: 3;
}

.fox {
  position: relative;
  width: 100%;
  height: 100%;
  transform-origin: center;
}

.fox .body {
  position: absolute;
  width: 66%;
  height: 57%;
  left: 16%;
  top: 28%;
  background: #000;
  border-radius: 40px 40px 30px 30px;
}

.fox .head {
  position: absolute;
  width: 33%;
  height: 50%;
  left: 0;
  top: 0;
  background: #000;
  border-radius: 40px 40px 20px 20px;
}

.fox .ear1, .fox .ear2 {
  position: absolute;
  width: 16%;
  height: 30%;
  top: -22%;
  background: #000;
  border-radius: 4px;
}
.fox .ear1 { left: 5%; transform: rotate(-10deg); }
.fox .ear2 { left: 22%; transform: rotate(10deg); }

.fox .tail {
  position: absolute;
  width: 50%;
  height: 35%;
  right: -38%;
  top: 36%;
  background: #000;
  border-radius: 30px 40px 40px 30px;
  transform-origin: left center;
  animation: tailWag 0.8s ease-in-out infinite;
}

@keyframes tailWag {
  0% { transform: rotate(12deg); }
  50% { transform: rotate(-12deg); }
  100% { transform: rotate(12deg); }
}
