:root {
  --color-1: #a1d6e2;
  --color-2: #81c8e4;
  --color-3: #4fb7e3;
  --color-4: #2ea2c2;
  --color-5: #008fb3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(to bottom, var(--color-1), var(--color-3));
  color: white;
  overflow-x: hidden;
  position: relative;
}

#snowCanvas {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  font-size: 1.4rem;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  transition: 0.3s;
}

.menu a:hover {
  background: var(--color-5);
}

.section {
  min-height: 100vh;
  text-align: center;
  padding: 150px 20px 40px;
  position: relative;
  z-index: 3;
}

.card-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 260px;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.3);
  padding: 20px 20px;
  border-radius: 15px;
  font-weight: bold;
  backdrop-filter: blur(4px);
}

@media (max-width: 600px) {
  .menu a {
    font-size: 1.1rem;
  }

  .card {
    width: 90%;
  }
}
